div#bL04 {
  position: absolute;
  top: 99px;
  left: 140px;
  width: 370.2px;
  height: 423.5px;
  pointer-events: none;
  svg {
    &.bL04_p {
      position: absolute;
      width: 274.2px;
      height: 423.5px;
      margin-left: 10px;
      top: 0;
      left: 0;
      transform: scale(0.69, 1) skewX(-6deg) rotateZ(58deg);
    }
    &.bL04_R {
      margin-left: 90px;
      margin-top: 0.5px;
      transform: scale(0.69, 1) skewX(6deg) rotateZ(-58deg);
    }
  }
}
svg.bL04_p path {
  fill: none;
  stroke-miterlimit: 10;
}
div.bL04 {
  opacity: 0.23;
  transform: translate(176px, 236px) scale(8);
}
