@import 'layer-01';
@import 'layer-02';
@import 'layer-03';
@import 'layer-04';

div.bW {
  display: block;
  height: 100%;
  left: 0;
  perspective: 23em;
  position: absolute;
  top: 0;
  transform-style: preserve-3d;
  width: 100%;
}
div.b {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: rgba(188, 198, 204, 0.42);
  pointer-events: none;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}
div.bN {
  position: absolute;
  top: 0;
  left: calc(29% + 0.115px);
  width: 42%;
  height: 42%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.64);
  transform-origin: 50% 116% !important;
  animation: rockabye 1s ease-in-out infinite alternate;
  pointer-events: none;
}
