div#binaryFolklore div#binaryScroll div#rosetta img {
  position: absolute;
  left: 6.75px;
}
div#binaryFolklore div#binaryScroll div#rosetta img:nth-of-type(2) {
  filter: none;
}
div#binaryFolklore div#binaryScroll div#rosetta div div.stoneBlock {
  background-image: url(main-stage/threshold/two-cows-one-owl/folklore/rosetta/rosetta4.png);
  background-size: 436.5px 588.5px;
  width: 10.5px;
  height: 12.5px;
}
