div#ironedOn {
  left: 244px;
  top: 348px;
  background-image: url(main-stage/lion/lion-torso/lion-t-shirt/steerage-2021.gif);
  background-position: center bottom !important;
  background-size: 161px 101px !important;
  height: 146px;
  width: 161px;
}
div#heartChakra {
  left: 26px;
  width: 108px;
  height: 108px;
}
div#heartChakra * {
  background-position: center center;
  background-size: contain;
  display: block;
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 108px;
}
img#raelStar {
  width: 95px;
  opacity: 0;
}
div#vajraCross div#heartPulse {
  background: radial-gradient(circle, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0.5) 25%, rgba(255, 0, 0, 0) 50%);
  height: 100%;
  opacity: 0;
  width: 100%;
}
div#gemPulse {
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 215, 0, 0.76) 16.67%, rgba(0, 255, 0, 0.42) 33.33%, rgba(255, 255, 255, 0) 50%);
  height: 100%;
  opacity: 0;
  width: 100%;
}
.anim div#vajraCross div#heartPulse {
  animation: pulseScaleXtreme 0.5s linear infinite alternate;
}
div#vajraCross div#crossMyHeart {
  background-image: url(main-stage/lion/lion-torso/lion-t-shirt/vajra-cross.gif);
  transform: rotate(-1080deg) scale(0);
}

