@import 'circus-animals/_';
@import 'foetuses/_';
@import 'two-cows-one-owl/_';
@import 'tears-of-blood/';
@import 'wheel-of-joy/';

#lolf02 {
  z-index: 300;
  pointer-events: none;
}
div#justEnoughBlood {
  height: 318px;
  left: 0;
  top: 911px;
  width: 100%;
}
