div#glitches {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  > div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    overflow: hidden;
    > * {
      position: relative;
      align-self: auto;
    }
    div.glitch01 {
      height: 31.5924%;
      flex: 1 1 auto;
      background-image: url(future/glitch/glitch01-very-poor.jpg);
    }
    div.colorBars {
      flex: 0 1 auto;
      height: 100%;
      img {
        height: 100%;
      }
      &.colorBarsRight {
        img {
          right: 0;
          transform: rotate(180deg);
        }
      }
    }
    .fluxtMsg {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
    }
    &.stillNacht {
      opacity: 0;
    }
    &.heiligeNacht div.glitch01 {
      background-image: url(future/glitch/glitch01.gif);
      opacity: 0.76;
    }
    &#staticLines {
      display: block;
      div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(future/glitch/static-01.png);
        &:nth-child(2) {
          background-image: url(future/glitch/static-02.gif);
        }
        &:nth-child(3) {
          background-image: url(future/glitch/static-03.png);
        }
      }
    }
  }
}
