@import 'mk';

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ggroveScroll {
  from {
    transform: translateX(-42px);
  }
  to {
    transform: translateX(42px);
  }
}

@keyframes floorScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -48px 0;
  }
}
