div#future {
  width: 100%;
  height: 100%;
  z-index: 650;
  perspective: 64rem;
  perspective-origin: 50% 50%;
  // pointer-events: none;
  // opacity: 0;

  background-color: #00ff00;

  div#flux {
    width: 373px;
    height: 540px;
    top: 728px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    &.tuct {
      top: 100%;
    }
    img.fluxCapacitor {
      width: 100%;
      height: 100%;
      pointer-events: auto;
      cursor: no-drop;
      &#fluxCapacitorOff {
        z-index: -1;
      }
      &#fluxCapacitorOn {
        z-index: 0;
        opacity: 0;
        transition: opacity 1s ease-in-out;
        filter: drop-shadow(0 0 8.8px coloring(anchorOff, 0.42));
      }
    }

    div#fluxMeter {
      width: 108px;
      height: 62px;
      left: 242px;
      top: 432px;
      overflow: hidden;
      z-index: 1;
      border-radius: 4px;
      cursor: no-drop;
      pointer-events: auto;
      img.fluxMeterLight {
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      div#fluxMeterNeedle {
        width: 2px;
        height: 70px;
        left: 50%;
        bottom: -15px;
        transform-origin: 50% 100%;
        transform: rotate(-44deg);
        img#fluxMeterNeedleWobble {
          width: 100%;
          height: 100%;
          transform-origin: 50% 100%;
          animation: needleWobble 0.075s ease-in-out infinite alternate forwards;
          animation-play-state: paused;
        }
      }
    }

    div#fluxDisplay {
      width: 138px;
      height: 124px;
      left: 12px;
      top: 416px;
      cursor: wait;
      pointer-events: auto;
      img#fluxDisplayDirective {
        width: 140px;
        height: 26px;
        top: 98px;
        opacity: 0;
      }
      div.fluxDisplayNumber {
        width: 46px;
        height: 67px;
        top: 18px;
        z-index: 2;
        img.fluxDisplayDigit {
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
      div#fluxDisplay10 {
        left: 14px;
      }
      div#fluxDisplay01 {
        left: 78px;
      }
    }

    img#fluxButton {
      width: 59px;
      height: 59px;
      left: 160px;
      top: 448px;
      z-index: 3;
      animation: fadeIn 0.5s ease-in-out infinite alternate forwards;
      transition: opacity 0.5s ease-in-out;
      cursor: pointer;
      pointer-events: auto;
    }

    div#fluxEchoes {
      width: 218px;
      height: 232px;
      top: 132px;
      left: 50%;
      transform: translateX(calc(-50% - 1px));
      z-index: 4;
      pointer-events: none;
      overflow: visible;
      div.fluxEchoAxis {
        width: 100%;
        height: 100%;
        div.fluxEcho {
          width: 100%;
          height: 100%;
          filter: drop-shadow(0 0 12px #fae885);
          &.fluxEchoLR {
            width: 120px;
            &:before {
              position: absolute;
              background-image: url(../img/flux/flux-echo-LR.png);
              background-size: 100% 100%;
              content: '';
              display: block;
              height: 100%;
              width: 120px;
            }
          }
          &.fluxEchoR {
            left: calc(50% - 10.5px);
            &:before {
              transform: scaleX(-1);
            }
          }
          &.fluxEchoC {
            height: 99px;
            background-image: url(../img/flux/flux-echo-C.png);
            background-size: 100% 100%;
          }
        }
      }
    }

    &.fluxOn {
      img#fluxMeterNeedleWobble {
        animation-play-state: running !important;
      }
      img#fluxButton {
        animation: fadeOut 0.5s ease-in-out forwards;
        cursor: no-drop;
      }
    }

    div.fluxMask {
      width: 100%;
      height: 100%;
      &#fluxMask {
        border-radius: 50%;
        overflow: hidden;
      }
      &#fluxUnMask {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    div#fluxFlash {
      background: radial-gradient(circle closest-side, #fae885 0%, coloring([ 250, 232, 133 ], 0) 100%);
      width: 100%;
      padding-top: 100%;
      top: 42px;
      transform: scale(0);
    }
  }

  div#deLorean {
    top: 50%;
    left: 50%;
    width: 423px;
    height: 1000px;
    transform: translate(-50%, -50%) translateZ(-250px) rotateZ(90deg) rotateY(90deg) rotateX(45deg);
    #deLorean3d {
      width: 100%;
      height: 100%;
    }
    #astronaut {
      width: 600px;
      height: 800px;
      right: 0;
      pointer-events: auto;
    }
    div {
      transform-origin: 0 0;
    }

    div.bumperFront {
      background: black;
      width: 377px;
      left: 23px;
      transform-origin: 50% 0;
      &#bumperFrontLower {
        background-color: #2f2f2f;
        top: 1px;
        height: 24px;
        transform: translateZ(-37px) rotateX(-40.6deg);
      }
      &#bumperFrontMiddle {
        width: 381px;
        left: 20px;
        height: 24px;
        top: 18px;
        transform: translateZ(-42px) rotateX(-90deg);
      }
      &#bumperFrontUpper {
        background-color: #18171d;
        top: 2px;
        height: 24px;
        transform: translateZ(-69px) rotateX(20.3deg);
      }
    }

    div#grille {
      background-image: url(../img/future/grille.png);
      width: 374px;
      left: 25px;
      height: 36px;
      top: 3px;
      transform: translateZ(-102px) rotateX(-59.5deg);
    }

    div#hood {
      background-image: url(../img/future/hood.png);
      width: 381px;
      left: 21px;
      height: 314px;
      top: 20px;
      transform: translateZ(-133px) rotateX(-4deg);
    }

    div.bfLower {
      background-image: url(../img/future/bodyFrontLower.png);
      width: 81px;
      height: 119px;
      transform-origin: 0 100%;
      transform: translateZ(-23px) rotateY(90deg) rotateX(-12.325deg);
      &#bodyFrontLowerLeft {
        left: 100%;
        transform: translateZ(-23px) rotateY(90deg) rotateX(12.325deg);
      }
    }
    div.bfUpper {
      background-image: url(../img/future/bodyFrontUpper.png);
      width: 43px;
      height: 121px;
      top: -1px;
      transform-origin: 0 100%;
      transform: translateZ(-103px) rotateZ(12.325deg) rotateY(60deg);
      &#bodyFrontUpperLeft {
        left: 100%;
        transform: translateZ(-103px) rotateZ(-12.325deg) rotateY(120deg);
      }
    }
    div.bfCorner {
      background-image: url(../img/future/bodyFrontCorner.png);
      width: 24px;
      height: 17px;
      top: 119px;
      transform: translateZ(-79px) rotateY(90deg);
      &#bodyFrontCornerLeft {
        left: 100%;
      }
    }

    div.bcLower {
      background-image: url(../img/future/bodyCenterLower.png);
      width: 103px;
      height: 460px;
      top: 244px;
      transform: rotateY(90deg);
      &#bodyCenterLowerLeft {
        left: 100%;
      }
    }
    div.bcMiddle {
      background-image: url(../img/future/bodyCenterMiddle.png);
      width: 60px;
      height: 729px;
      top: 119px;
      transform: translateZ(-103px) rotateY(60deg);
      &#bodyCenterMiddleLeft {
        left: 100%;
        transform: translateZ(-103px) rotateY(120deg);
      }
    }
    div.bcUpper,
    div.sw {
      background-image: url(../img/future/bodyCenterUpper.png);
      width: 68px;
      height: 359px;
      top: 331px;
      left: 30px;
      transform: translateZ(-155px) rotateY(47deg);
      &#bodyCenterUpperLeft,
      &#sideWindowLeft {
        left: calc(100% - 30px);
        transform: translateZ(-155px) rotateY(137deg);
      }
    }
    div.sw {
      background-image: url(../img/future/sideWindow.png);
      left: 30.5px;
      &#sideWindowLeft {
        left: calc(100% - 30.5px);
      }
    }

    div.brLower {
      background-image: url(../img/future/bodyRearLowerLeft.png);
      width: 77px;
      height: 126px;
      top: 848px;
      transform: translateZ(-26px) rotateY(90deg) rotateX(13deg);
      &#bodyRearLowerLeft {
        left: 100%;
        transform: translateZ(-26px) rotateY(90deg) rotateX(-13deg);
      }
    }
    div.brMiddle {
      background-image: url(../img/future/bodyRearMiddle.png);
      width: 60px;
      height: 126px;
      top: 848px;
      transform: translateZ(-103px) rotateZ(-12.325deg) rotateY(60deg);
      &#bodyRearMiddleLeft {
        left: 100%;
        transform: translateZ(-103px) rotateZ(12.325deg) rotateY(120deg);
      }
    }
    div.brCorner {
      background-image: url(../img/future/bodyRearCorner.png);
      width: 27px;
      height: 17px;
      top: 831px;
      transform: translateZ(-76px) rotateY(90deg);
      &#bodyRearCornerLeft {
        left: 100%;
      }
    }

    div.bumperRear {
      background: black;
      width: 370px;
      left: 26px;
      transform-origin: 50% 0;
      &#bumperRearLower {
        background-color: #18171d;
        height: 32px;
        top: 964px;
        transform: translateZ(-41px) rotateX(-90deg);
      }
      &#bumperRearMiddle {
        height: 9px;
        top: 962px;
        transform: translateZ(-72px);
      }
      &#bumperRearUpper {
        background-color: #101010;
        left: 28px;
        top: 971px;
        height: 33px;
        width: 367px;
        transform: translateZ(-71px) rotateX(-90deg);
      }
    }

    div.underCarriage {
      width: 423px;
      background-image: url(../img/future/undercarriage.png);
      background-size: 423px 1000px;
      background-position: 0 0;
      &#underCarriageFront {
        height: 119px;
        transform-origin: 50% 100%;
        transform: translateZ(-23px) rotateX(6.71deg);
      }
      &#underCarriageCenter {
        top: 119px;
        background-position: 0 -119px;
        height: 729px;
      }
      &#underCarriageRear {
        top: 848px;
        background-position: 0 -848px;
        height: 152px;
        transform: translateZ(-26px) rotateX(-7.125deg);
      }
    }

    div.ep {
      background-image: url(../img/future/exhaustPipe.png);
      width: 18px;
      height: 40px;
      top: 957px;
      transform: translateZ(-57.5px) rotateX(-7.125deg) rotateY(180deg);
      &#exhaustPipeLeftTop {
        left: 341px;
      }
      &#exhaustPipeRightTop {
        left: 106px;
      }
      &.epSide {
        &#exhaustPipeLeftLeft {
          transform: translateZ(-57.5px) rotateY(-90deg) rotateZ(7.125deg);
          left: 341px;
        }
        &#exhaustPipeLeftRight {
          transform: translateZ(-39.5px) rotateY(90deg) rotateZ(-7.125deg);
          left: 323px;
        }
        &#exhaustPipeRightLeft {
          transform: translateZ(-57.5px) rotateY(-90deg) rotateZ(7.125deg);
          left: 106px;
        }
        &#exhaustPipeRightRight {
          transform: translateZ(-39.5px) rotateY(90deg) rotateZ(-7.125deg);
          left: 88px;
        }
      }
    }
    div.epc {
      background: radial-gradient(circle closest-side, black 0, #91827e 100%);
      width: 16px;
      height: 16px;
      top: 986px;
      left: 89px;
      transform: translateZ(-44px) rotateX(-97.125deg);
      &#exhaustPipeLeftCap {
        left: 324px;
      }
    }

    div.uc {
      &.ucNS {
        background-color: black;
        height: 729px;
        width: 127px;
        top: 119px;
        &#ucL {
          transform: rotateY(90deg);
          left: calc(100% - 70px);
        }
        &#ucR {
          transform: rotateY(-90deg) rotateX(180deg) rotateZ(180deg);
          left: 70px;
        }
      }
      &.ucEW {
        background-image: url(../img/future/crossAxle.png);
        width: 100%;
        height: 127px;
        transform-origin: 50% 0;
        transform: rotateX(-90deg);
        &#ucCrossFrontAxleFront {
          background-image: url(../img/future/crossAxleFront.png);
          top: 119px;
        }
        &#ucCrossFrontAxleBack {
          top: 269px;
        }
        &#ucCrossRearAxleFront {
          top: 691px;
        }
        &#ucCrossRearAxleBack {
          background-image: url(../img/future/crossAxleRear.png);
          top: 848px;
        }
      }
      &#wheelWellsTop {
        background-color: black;
        width: 393px;
        height: 729px;
        top: 119px;
        left: 15px;
        transform: translateZ(-127px);
      }
    }
  }
}
