.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html,
body {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
}
body {
  background-color: black;
  background-position: center top;
  background-repeat: repeat;
  font-family: Monaco, Menlo, "Lucida Sans Unicode", monospace;
  &.grScr {
    background-color: #00ff00;
    background-image: none;
  }
}

main {
  // background-image: url(../img/ref/1306x1306.png);
  // background-size: 1306px 1306px;
  // background-position: center center;
  // background-repeat: no-repeat;
  height: 1306px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  transform-origin: 0 0;
  z-index: 0;
  overflow: hidden;
  display: block;
  img.transClicker {
    border: none;
    height: 100%;
    opacity: 0;
    width: 100%;
    z-index: -1;
    pointer-events: auto;
  }
  .wayLaid {
    cursor: wait !important;
  }
}
@media screen and (max-width: 1220px) {
  main {
    overflow-x: auto;
  }
}

a,
a:visited {
  color: coloring('anchorOff');
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
a:hover,
a:active {
  color: coloring('anchorOn');
  text-decoration: underline;
  cursor: pointer;
}

iframe#discoWall {
  display: block;
  position: absolute;
  overflow: hidden;
  border: none;
  z-index: -500;
}
