div#help,
div#helpMeLawd
div#helpScreen {
  top: 0;
  height: 100%;
}
div#help {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  pointer-events: none;
}
div#helpScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: repeat;
  background-size: 96px auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
  animation: helpScreenScroll 7.2s linear infinite backwards;
  animation-play-state: paused;
  div#help.open & {
    pointer-events: auto;
    cursor: pointer;
    opacity: 0.23;
    animation-play-state: running;
  }
}
div#helpMeLawd {
  position: fixed;
  top: 0;
  right: 0;
  width: 412px;
  overflow-y: auto;
  pointer-events: none;
}
div#helpToggle {
  background-color: rgba(0,0,0,0.42);
  border: solid 3px transparent;
  border-radius: 50%;
  box-sizing: content-box !important;
  position: absolute;
  top: 16.5px;
  right: 22px;
  pointer-events: auto;
  cursor: context-menu;
  width: 30px;
  height: 30px;
  opacity: 0.24;
  z-index: 10;
}
svg#helpIcon {
  box-sizing: content-box !important;
  position: absolute;
  width: 17px;
  height: 24px;
  /* width:425px;
  height:600px; */
  left: 50%;
  top: 50%;
  /* left:-500px;
  top:500px; */
  transform: translate(-50%, -50%);
}
div#help:not(.open) div#helpToggle:hover {
  transition: all 0.36s ease-in-out !important;
  opacity: 0.88 !important;
}
div#help.open div#helpToggle {
  opacity: 1;
}
div#helpToggle:hover,
div#help.open div#helpToggle {
  border: solid 3px white;
}
div#helpToggle.hover {
  border: solid 3px white !important;
  opacity: 1 !important;
}

div#helpList {
  margin-top: 3px;
  transform: translateX(100%) translateY(3px);
  box-shadow: 10px 10px 12px rgba(0,0,0,0.88);
}
div#help.open div#helpList {
  pointer-events: auto;
}
#helpListW {
  right: 37px;
  width: 375px;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.mkList,
.mkList * {
  transform-style: preserve-3d !important;
  pointer-events: auto;
  box-sizing: border-box;
  cursor: pointer;
}
.mkList {
  position: absolute;
  top: 15.5px;
  left: -40px;
  perspective-origin: 0 50%;
  transform: perspective(1200px) rotateY(-23deg) !important;
  transform-origin: 100% 0;
  width: 375px;
}
.mkTitle,
.mkNode,
.mkMeat {
  background: rgb(174, 180, 194);
  height: 32px;
  margin: 0;
  width: 100%;
  color: black;
  vertical-align: bottom;
  background-image: url(../img/paper-texture.png);
  background-repeat: repeat;
  background-size: 400px auto;
  text-shadow: -1px 1px 2px rgba(223, 230, 247, 1);
  cursor: ns-resize;
}
.mkEmpty {
  height: 16px;
}
.mkMeat .mkNode {
  padding: 0px 20px;
  line-height: 16px;
  font-size: 12px;
}
.mkTitle {
  position: relative;
  transform: translateZ(0.3px);
  height: 32px;
  cursor: pointer;
}
.mkTitle h1 {
  padding: 0px 12px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 32px;
  background-image: url(../img/head/clickForMore.svg);
  background-position: calc(90% + 1.5px) 4px;
  background-repeat: no-repeat;
  background-size: auto 76%;
  transition: all 0.25s ease-in-out;
}
.mkTitle h1 i {
  letter-spacing: -4px;
}
.mkTitle h1 {
  background-position: 120% 6px;
  font-size: 20.5px;
}
.mkNode i {
  font-weight: bold;
}
#mkNode1 i {
  font-size: 30px;
  height: 100%;
  display: block;
  float: left;
  text-transform: uppercase;
  font-style: normal;
  line-height: 32px;
  margin-right: 6px;
}

.mkNode {
  position: relative;
  display: block;
  transform: translateZ(0.1px);
  transform-origin: 50% 0% !important;
  hr {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  &#mkNode23 a {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    letter-spacing: 2px;
    transform: scaleY(1.2);
    margin-top: 8px;
    text-shadow: 4px -1px 2px #0033ff, -1px 1px 2px #dfe6f7;
  }
}
.mkMeat {
  position: relative;
  border-top: 1px dashed rgba(255,255,255,0.3);
  margin: 0;
  background: rgb(174, 180, 194)
}
.mkBack,
.mkOver {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.mkBack {
  background: rgb(147, 152, 163);
  transform: translateZ(-0.1px);
  background-image: url(../img/paper-texture.png);
  background-repeat: repeat;
  background-size: 100% auto;
}
.mkOver {
  transform: translateZ(0.1px);
  opacity: 0;
}
.mkRoot {
  background: transparent;
}
