div.pW {
  height: 1220px;
  margin: -42px 0 84px 0;
  transform-origin: 50% 0%;
  transform: scale(0.985);
  width: 1220px;
  z-index: 0;
  // &#lolf01 {
  //   background-image: url(../img/ref/1200x1200.png);
  //   background-size: 1200px 1200px;
  //   background-position: center center;
  //   background-repeat: no-repeat;
  // }
  &#lolf02 {
    z-index: 300;
    pointer-events: none;
  }
  div.pC {
    position: absolute;
    width: 650px;
    height: 1220px;
    opacity: 0;
    &.pCC {
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
    }
    &:not(.pCC) {
      margin: 0 38px;
      width: 285px;
      transform-origin: left top;
    }
    &.pCR {
      left: 935px;
    }
  }
}

.animBlock {
  position: absolute;
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
    position: absolute;
    transform-origin: 50% 50%;
    transform-style: preserve-3d !important;
  }
}
