div.pW {
  left: 50%;
  margin: 0;
  position: absolute;
  transform: translateX(-50%);
  transform-origin: 50% 0%;
  width: 1220px;
  height: 1220px;
  z-index: 0;
  margin-top: -34px;
  margin-bottom: 84px;
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
  }
  &#lolf02 {
    z-index: 300;
    pointer-events: none;
  }
  div.pC {
    position: absolute;
    width: 650px;
    height: 1220px;
    opacity: 0;
    &.pCC {
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
    }
    &:not(.pCC) {
      margin: 0 38px;
      width: 285px;
      transform-origin: left top;
    }
    &.pCR {
      left: 935px;
    }
  }
}
