div#lightningRodsWrapper {
  height: 100%;
  left: 0;
  pointer-events: none;
  top: 0;
  width: 650px;
  z-index: 32;
}
div.lightningRodWrapper {
  height: 200px;
  width: 285px;
}
div#lightningRodWrapper_W {
  left: 70px;
  top: 476px;
  transform: rotate(180deg) scale(0.6);
}
div#lightningRodWrapper_N {
  left: 140px;
  top: 292px;
  transform: rotate(270deg) scale(0.9);
}
div#lightningRodWrapper_S {
  left: 224px;
  top: 602px;
  transform: rotate(90deg) scale(0.88);
}
div#lightningRodWrapper_E {
  left: 302px;
  top: 420px;
  transform: scale(0.6);
}
img.lightningRod {
  opacity: 0;
}
