main#lynchBox {
  background-color: #020202;
  background-image: url(../img/future/lynchBox.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -100;
  opacity: 0;
  canvas#lynchTunnel {
    width: 100%;
    height: 100%;
  }
}
