div#obscuro {
  cursor: wait;
  display: block;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 900;
}
div#obscuroGlo {
  background: linear-gradient(0deg, rgba(255,0,0,0.32) 0%, rgba(255,0,0,0) 16px),
    linear-gradient(90deg, rgba(255,0,0,0.32) 0%, rgba(255,0,0,0) 16px),
    linear-gradient(180deg, rgba(255,0,0,0.32) 0%, rgba(255,0,0,0) 16px),
    linear-gradient(270deg, rgba(255,0,0,0.32) 0%, rgba(255,0,0,0) 16px);
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
}
div#clickDontClick {
  background-image: radial-gradient(circle farthest-side, black 0%, #2f3130 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35.5px/34.5px;
  border: solid 8px black;
  box-sizing: content-box;
  height: 156px;
  opacity: 0.76;
  position: absolute;
  right: 23px;
  top: 18px;
  width: 160px;
}
span.clickDontClick {
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 27.5px/26.5px;
  border: solid 8px black;
  box-sizing: content-box;
  display: block;
  height: 138px;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 1px;
  width: 142px;
}
span#redHand {
  background-image: url(../img/trafficSignals/red-right-hand.svg);
  background-position: 57% 56%;
}
span#greenHand {
  background-image: url(../img/trafficSignals/green-right-hand.svg);
  background-position: center center;
}
span#greenThumb {
  background-image: url(../img/trafficSignals/green-thumbs-up.svg);
  background-position: center center;
}
span#signalGrate {
  background-image: url(../img/trafficSignals/traffic-grate.svg), radial-gradient(circle, rgba(255, 0, 0, 0.42) 0%, rgba(255, 0, 0, 0) 100%);
  background-position: center center, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto 100%, 100% 100%;
  mix-blend-mode: darken;
  opacity: 1;
  z-index: 2;
}
