div#theOwlIsNotWhatItSeems {
  cursor: pointer;
  height: 139px;
  left: 206px;
  top: 770px;
  transform: scale(0);
  width: 242px;
}
div#theOwl {
  background-image: url(../img/unseemly-owl.gif);
  height: 109px;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

div#ramIcon {
  height: 138.7466px;
  /* filter: drop-shadow(0 0 12px white); */
  left: -140.5px;
  opacity: 0;
  transform: scale(0.155, 0.155) translate(-15px, -7px);
  transition: transform 0.5s ease-in-out, opacity 0.25s ease-out 0.5s;
  width: 524.3333px; /* 242px; */
  pointer-events: auto;
  overflow: visible;
}
div.ramIconHorn {
  display: block;
  height: 68.97px;
  position: absolute;
  top: 0;
  width: 191.5833px;
  filter: drop-shadow(0 0 12px white);
}
div.ramIconHorn img {
  height: 100%;
  width: 100%;
  opacity: 0;
}
div#ramIconHornLeft {
  transform: scaleX(-1);
  left: 0;
}
div#ramIconHornRight {
  right: 0;
}
div#theRamBack,
div#theRam {
  height: 143.6289px;
  width: 100%;
}
div#theRamBack {
  background-image: url(../img/ramIcon/ramIcon-center-bottom.png);
  background-position: center center;
  background-size: contain;
}
div#ramIconHead {
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 141.1667px;
}
div#ramIconHead img {
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 12px white);
}
img#owlGlyph {
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 1px));
  transition: opacity 1s ease-in-out;
  /* transition: filter 0.5s ease-in-out; */
}
div#theOwlIsNotWhatItSeems.open img#owlGlyph {
  opacity: 1;
  /* filter: drop-shadow(0 4px 6px white); */
}
div#owlGlyphGlow {
  background: radial-gradient(ellipse, rgba(255, 255, 255, 1) 0%, rgba(200, 255, 200, 0.5) 25%, rgba(200, 255, 200, 0) 50%);
  width: 200px;
  height: 100px;
  left: 50%;
  top: 72px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s ease-in-out;
}
div#theOwlIsNotWhatItSeems.open div#owlGlyphGlow {
  opacity: 0.76;
}
div#theOwlIsNotWhatItSeems:hover div#theOwl,
div#theOwlIsNotWhatItSeems.open div#theOwl {
  transition: all 0.5s ease-in-out 0.25s;
  transform: scale(0);
}
div#theOwlIsNotWhatItSeems:hover div#ramIcon,
div#theOwlIsNotWhatItSeems.open div#ramIcon {
  transition: transform 0.5s ease-in-out 0.25s, opacity 0.25s ease-out;
  transform: scale(1) translate(-3px, 0);
  opacity: 1;
}
div.laser {
  background-size: 100% 100%;
  filter: drop-shadow(0 0 4px rgba(0, 255, 0, 1));
  opacity: 0;
}
div#owlLaser {
  background-image: url(../img/ramIcon/owlLaser.png);
  height: 50px;
  left: 31px;
  top: 40px;
  transform-origin: 0 50%;
  transform: translateX(194px) scaleX(-1);
  width: 194px;
}
div#ramLaser {
  background-image: url(../img/ramIcon/ramLaser.png);
  height: 1px;
  left: 28px;
  top: 2px;
  width: 23px;
  opacity: 1;
}
div.ramLaser2 {
  background-image: url(../img/ramIcon/ramLaser2.png);
  width: 242px;
  height: 330px;
  pointer-events: none;
}
div#ramLaser2 {
  left: 23px;
  transform-origin: 0 0;
}
div#ramLaser3 {
  background-image: none;
  filter: none;
  right: 22px;
  transform-origin: 100% 0;
  &:before {
    background-image: url(../img/ramIcon/ramLaser2.png);
    background-size: 100% 100%;
    content: '';
    display: block;
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 1));
    height: 100%;
    transform: scaleX(-1);
    width: 100%;
  }
}
div#owlLaser2 {
  background-image: url(../img/ramIcon/owlLaser2.png);
  width: 54px;
  height: 254px;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
  transform-origin: 50% 0;
}
