#sceneSkipper {
  top: calc(100vh - 56px);
  color: red;
  display: block;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.42;
  padding: 0 3px;
  position: fixed;
  right: 23px;
  transition: opacity 0.5s ease-in-out;
  z-index: 10000;
  &.transVerted {
    transform-origin: 100% 0%;
    transform: rotateZ(90deg);
    top: calc(100vh - 24px);
  }
  &.wayLaid {
    pointer-events: none;
  }
  &:hover:not(.wayLaid) {
    opacity: 0.88;
  }
}

#subSceneSkippers {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: stretch;
  align-items: flex-end;
  padding: 0 24px 72px 0;
  flex-direction: column;
  pointer-events: none;
  z-index: 10001;
  opacity: 0.42;
  transition: opacity 0.5s ease-in-out;
  &:hover {
    opacity: 0.88;
  }
  * {
    pointer-events: auto;
  }

  .onOffWrapper {
    position: relative;
    width: 242px;
    margin-top: 16px;
    user-select: none;
    .onOffLabel {
      display: block;
      overflow: hidden;
      cursor: pointer;
      height: 23px;
      padding: 0;
      line-height: 21px;
      border: 2px solid coloring(themeDarkestGray);
      border-radius: 23px;
      background-color: coloring(themeLighterGrey);
      transition: background-color 0.3s ease-in;
      text-align: center;
      color: #990000;
      font-weight: bold;
      font-size: 21px;
      &:before {
        content: "";
        display: block;
        width: 21px;
        margin: 0px;
        background: radial-gradient(circle closest-side, white 0%, white 42%, coloring(themeLightGrey) 88%, coloring(themePrimeGrey) 100%);
        position: absolute;
        top: 0;
        bottom: 0;
        right: calc(100% - 25px);
        border: 2px solid #ff0000;
        border-radius: 23px;
        transition: all 0.3s ease-in 0s;
      }
    }
    .onOffSwitch {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      &:checked + .onOffLabel {
        background-color: rgba(73, 232, 69, 0.76);
      }
      &:checked + .onOffLabel,
      &:checked + .onOffLabel:before {
        border-color: #49E845;
      }
      &:checked + .onOffLabel:before {
        right: 0px;
      }
    }
  }

  &.transVerted {
    padding: 0 88px 124px 0;
    .onOffWrapper {
      width: 188px;
    }
  }
  &.wayLaid {
    pointer-events: none;
    * {
      pointer-events: none;
    }
    .onOffWrapper {
      .onOffLabel {
        border-color: #ff0000;
        background-color: rgba(255,0,0,0.76);
      }
      .onOffSwitch {
        &:checked:not(:disabled) + .onOffLabel {
          background-color: coloring(themeLighterGrey);
        }
        &:checked:not(:disabled) + .onOffLabel {
          border-color: coloring(themeDarkestGray);
        }
      }
    }
  }
}
