div#tpTitles {
  cursor: wait;
}
div.tpTitles {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 600;
  &#tpTitleScreen {
    background-color: black;
    pointer-events: none;
  }
}

.tpTitle {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 202px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1392px;
  &#tpTitleYore {
    background-image: url(../img/tpTitles/DAYS_OF_YORE.png);
    opacity: 0;
  }
  &#tpTitleYoreAnim {
    opacity: 0.64;
    transform: scale(0.989) translate(-50.7%, -51%);
  }
  &#tpTitleExplore {
    background-image: url(../img/tpTitles/EXPLORE.png);
    background-position: right center;
    opacity: 0;
  }
}

h3#photoSensitivityWarning {
  font-size: 22px;
  position: absolute;
  width: 96%;
  color: rgba(123,228,111,0.76);
  background: rgba(0,0,0,0.42);
  text-shadow: 0 0 6px black;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  text-align: center;
  padding: 16px;
  span {
    color: rgba(255,255,255,0.76);
  }
}


