$namedColors: (
  brightGreen: (0, 255, 0),
  themePrimeGray: (118, 122, 131),
  themePrimeGrey: (118, 122, 131),
  themeDarkGray: (92, 95, 102),
  themeDarkGrey: (92, 95, 102),
  themeDarkerGray: (76, 78, 84),
  themeDarkerGrey: (76, 78, 84),
  themeDarkestGray: (46, 47, 51),
  themeDarkestGrey: (46, 47, 51),
  themeLightGray: (147, 152, 163),
  themeLightGrey: (147, 152, 163),
  themeLighterGray: (174, 180, 194),
  themeLighterGrey: (174, 180, 194),
  themeLightestGray: (223, 230, 247),
  themeLightestGrey: (223, 230, 247),
  anchorOff: (0, 255, 255),
  anchorOn: (102, 255, 255),
  oppositeOrange: (255, 0, 0),
  soundCloudOrangeDark: (248, 49, 14),
  soundCloudOrangeLite: (247, 152, 16),
  manillaGorilla: (248, 245, 225)
);
