div.bgVidWrapper {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}
div#bronzeVidWrapper {
  top: 0;
  z-index: -100;
}
div#dirtVidWrapper {
  bottom: 0;
  z-index: -300;
}
div.video-js {
  position: relative;
  overflow: hidden;
}
div#bronzeCauldron {
  width: 100vw !important;
}
video.bgVid {
  position: relative;
  top: 0;
  left: 0;
}
video#dirtOnTheGround {
  object-fit: cover;
  min-height: 100vh;
}
div.bgVidOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: auto;
}
div.black {
  background-color: black;
}
div.bronze {
  background-color: #b58954;
}
div.color-burn {
  mix-blend-mode: color-burn;
}
div.multiply {
  mix-blend-mode: multiply;
}
