.wormSign {
  display: block;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#drWorm {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: visible;
  z-index: -200;
  &.anim {
    opacity: 1;
  }
}
.wormSignPath {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke: white;
  .anim & {
    animation: dash 10s ease-in forwards;
    stroke-dasharray: 1069260; /* 100; */
  }
  .skip & {
    animation: dash 1s ease-in forwards;
  }
  transform: none;
  transform-origin: 50% 50%;
}
@media screen and (max-width: 772px) {
  .wormSignPath {
    transform: scale(1.5);
  }
}
.wormRingSegment {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
}
.wormTube {
  display: block;
  height: inherit;
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
  position: absolute;
  width: inherit;
}
.innerSpace {
  display: block;
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
}
.starField {
  display: block;
  height: 8192px;
  position: absolute;
  width: 8192px;
}
.starField_02 {
  mix-blend-mode: hard-light;
  opacity: 0.36;
}
.starField_03 {
  mix-blend-mode: lighten;
}
.starField_04 {
  mix-blend-mode: screen;
  opacity: 0.52;
}
.wormRibs {
  display: block;
  height: 8192px;
  position: absolute;
  transform-origin: 4096px 4096px;
  width: 8192px;
  .anim & {
    animation: spinZ 224s linear infinite reverse;
  }
}
div#wormSignScreen {
  position: absolute;
  mix-blend-mode: overlay !important;
  background-image: radial-gradient(circle farthest-side, rgba(0, 255,255, 1) 0%, rgba(0, 255, 255, 0) 100%);
  background-size: cover;
  background-position: center center;
  opacity: 0.64;
  pointer-events: none;
}
